@import '@angular/material/theming';

/** 
  Define a custom typography config that overrides the font-family as well as the
 `headlines` and `body-1` levels.
 */
 
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);


@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);


$config: mat-typography-config();

// Custom header that uses only the Material `font-size` and `font-family`.


/* Add application styles & imports to this file! */ 
body {
  font-family: mat-font-family($config);
  margin: 0;
  padding: 0;
  min-height: 100vh;

  my-app {
    min-height: 100vh;
  }

}


@media(max-height:450px) {
    user-list {
      transform: translate(-25%, -25%) scale(0.5);
        min-height: 100vh;
    }
}

@media(min-height:451px) and (max-height:610px) {
    user-list {
      transform: translate(-20%, -20%) scale(0.6);
      min-height: 100vh;
    }
}

@media(min-height:611px) and (max-height:700px) {
    user-list {
      transform: translate(-10%, -10%) scale(0.80);
      min-height: 100vh;
    }
}

@media(min-height:701px) {
    user-list {
      transform: translate(0%, 0%) scale(1.0);
      min-height: 100vh;
    }
}