<mat-toolbar>
  <mat-toolbar-row fxLayout fxLayoutAlign="start center" fxLayoutGap="25px">
    <p>Company Employees </p>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content"> 

  <div *ngIf='users$ | async as users' [@fadeIn]="users.length"  fxLayout="row wrap" class="list">
    <div *ngFor='let user of users; trackBy: trackByFn'
         [class.ghost_item]="user.isLoading" 
         [class.user]="!user.isLoading" 
         fxFlex="50" fxFlex.xs="100">
          <div class="avatar" (click)="service.refreshUser(user)">
            <svg-icon [icon]="user.data?.avatar"></svg-icon>  
          </div>
          <div class="lines">
            <h2>{{user.data?.name}}</h2>
            <h3>{{user.data?.email}}</h3>
            <p><span class="company" *ngIf="user.data">Company:</span> {{user.data?.company.name}}</p> 
          </div>
    </div> 
  </div>

</div>

<div class="footer">
  <div fxLayout fxLayoutAlign="left center" fxLayoutGap="25px" style="padding-left:35px;">
    <button mat-flat-button color="primary" (click)="service.loadUsers()">Reload All</button>
    <p>... or click on an Avatar [above] to refresh a specific user.</p>

  </div>
</div>

