<mat-toolbar>
  <mat-toolbar-row fxLayout fxLayoutAlign="start center" fxLayoutGap="25px">
    <p>Company Employees </p>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content"> 

  <div *ngIf='users$ | async as users' [@fadeIn]="users.length"  fxLayout="row wrap" class="list">
    <div *ngFor='let user of users; trackBy: trackByFn'
         [class.ghost]="state(user).isLoading()"  
         [class.user]="state(user).isLoaded()"                 
         fxFlex="50" fxFlex.xs="100">
            <div class="avatar" (click)="service.refreshUser(user)">
              <svg-icon [icon]="user.data?.avatar" *ngIf="!state(user).isPolling()"></svg-icon> 
              <div class="spinner-block" *ngIf="state(user).isPolling()">
                <div class="spinner spinner-2"></div>
              </div>
            </div>
            <div class="lines" [class.polling]="state(user).isPolling()" >
              <h2>{{user.data?.name}}</h2>
              <h3>{{user.data?.email}}</h3>
              <p><span class="company" *ngIf="user.data">Company:</span> {{user.data?.company.name}}</p> 
            </div>
    </div> 
  </div>

</div>

<div class="footer" style="padding-left:35px; padding-right:35px;">
  <p>
    The list above contains 'asyncItems' rendered with ghost elements while loading. <br/>
    Some of the items have not been loaded to show how partially list loads are supported.
  </p>
  <div fxLayout fxLayoutAlign="left center" fxLayoutGap="25px" style="margin-top:-15px;">
    <button mat-flat-button color="primary" (click)="service.loadUsers()">Reload All</button>
    <p>... or click on an Avatar [above] to refresh a specific user.</p>    
    
  </div>
</div>

