$avatar-gap: 25 + 50 + 20px;
$row-gap: 15px;

$min-content-height: 459px;

:host {
  display: block;
  position: relative;
  overflow: hidden;
}

.content {
  min-height: $min-content-height;
}

.spinner {
  position: absolute;
  top: 30%;
  left: 40%;
}

.list {
  padding-top: 24px;
}


.user {
  overflow: hidden;
  opacity: 1.0;  
}

.polling {
    opacity: 0.2;
    filter: blur(2px);
}

.avatar {
  float: left;
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 2px rgba(204, 204, 204, 0.24);
  border-radius: 50%;
  margin-left: 27px;

  overflow: hidden;
  cursor: pointer;
}

.lines {
  margin-left: $avatar-gap;
  margin-block-end: $row-gap;
  width: calc(100% - $avatar-gap);


  h2, h3, p {
    height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    align-content: center;

    position: relative;
  }

  h2 {
    font-weight: 500;
    font-size: 1.2em;
  }

  h3 {
    color: #8cc5d6;
    font-weight: 500;
    font-size: 1.1em;
  }

  p {
    font-size: 0.90em;

    .company {
      color: rgb(148, 148, 148);
    }
    margin-bottom: 25px;  
  }
}

.mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #906619;
}

.mat-toolbar {
    background: #d0fbff;
}

.footer {
  min-height: 51px;
  width: 100%;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
    padding: 10px;
  background-color: white;
}


//variables
$bg-color: rgb(202, 227, 255); //container background-color;
$basic-dark-color: #159249; //color of the spinner
$border-width: 2px; //width of spinners border
$basic-spinner-dimensions: 50px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle


/* spinner style */
.spinner {  
    position: relative;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;
    margin-left: -22px;
    margin-top: -2px;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;
    }
  }

.spinner.spinner-2 {
  
  @keyframes scale {
    0% {
      transform: scale(1);
      border-style: solid;
    }
    
    100% {
      transform: scale(0);
      border-style: dashed;
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0px;
    left: 0px;
    animation: scale 1s linear 0s infinite alternate;
  }
  
  &:after {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0;
    left: 0;
    animation: scale 1s linear 0s infinite alternate-reverse;
  }
}